body {
  align-items: center;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-form button {
  border: none;
  outline: none;
  margin-top: 10px;
  height: 35px;
  font-size: 1.2rem;
  background-color: lightgreen;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

header,
nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

ul {
  list-style: none;
  width: 600px;
}

.post {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.title,
.meta {
  text-align: center;
}

.body {
  padding: 1rem;
  width: 600px;
}

.comments {
  text-align: center;
}

.comments-form {
  display: flex;
  flex-direction: column;
}

.links {
  align-items: center;
  display: flex;
}

.link {
  border: none;
  outline: none;
  background-color: plum;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

.create-form {
  display: flex;
  flex-direction: column;
}
