body {
  min-height: 100vh;
}

#board {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 1fr);
}

img {
  height: 200px;
  width: 200px;
}

#scoreboard {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  justify-content: center;
}
